body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#000000 ;
}

.container {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  float: right;
  font-size: 50px;
  text-align: center;
  background-image: url("summer.jpg");
  background-size: cover;
}

.containertwo {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  float: right;
  font-size: 50px;
  text-align: center;
  background-image: url("space.jpg");
  background-size: 100%;
}

.containerthree {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  float: right;
  font-size: 50px;
  text-align: center;
  background-image: url("test.jpg");
  background-size: 100%;
}

.containerfour {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  float: right;
  font-size: 50px;
  text-align: center;
  background-image: url("space.jpg");
  background-size: 100%;
}
.containerfive {
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  width: 80%;
  float: right;
  font-size: 50px;
  text-align: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png");
  background-size:100%;
  background-repeat: repeat-x;
}
.neon {
  color: #000000;
  text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #ffa, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #ffa;
}

.neontwo {
  color: #000000;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 0 0 7px #ffa, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff, 0 0 82px #ffa, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #ffa;
}

.neontwo:hover {
  color: rgb(55, 91, 248);
}

button {
  opacity: 65%;
  cursor: pointer;
  position: relative;
  padding: 2.5rem 7.5rem;
  border-radius: 3.75rem;
  line-height: 2.5rem;
  font-size: 30px;
  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #84a1f1 0%, #3309ee 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.50), 0 -0.25rem 1.5rem rgb(4, 6, 112) inset, 0 0.75rem 0.5rem rgba(90, 123, 212, 0.4) inset, 0 0.25rem 0.5rem 0 rgb(201, 206, 231) inset;
}
button span {
  color: transparent;
  background-image: linear-gradient(0deg, #352e55 0%, #d9dbe9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(154, 155, 207));
}
button::before {
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #d9dbe9;
  border-radius: 100%;
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}
button::after {
  height: 0.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #2d2385;
  border-radius: 100%;
  opacity: 100%;
  filter: blur(1px);
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}
button:hover {
  background: #308abe;
  cursor: pointer;
  opacity: 100%;
  color: #FFFFFF;
}
.button2 {
  opacity: 80%;
  cursor: pointer;
  position: relative;
  padding: 2.5rem 7.5rem;
  border-radius: 3.75rem;
  line-height: 2.5rem;
  font-size: 30px;
  border: 1px solid #c25962;
  background-image: linear-gradient(-180deg, #a8272e 0%, #d8666a 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(156, 39, 39, 0.5), 0 -0.25rem 1.5rem #e64b4b inset, 0 0.75rem 0.5rem rgb(245, 179, 179) inset, 0 0.25rem 0.5rem 0 rgb(245, 179, 179) inset;
}
.button2 span {
  color: transparent;
  background-image: linear-gradient(0deg, #f04d58 0%, #d9dbe9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px rgb(175, 113, 113));
}
.button2::before {
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #eb2b2bc2;
  border-radius: 100%;
  background-image: linear-gradient(-270deg, rgba(236, 12, 12, 0) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(160, 17, 17, 0) 100%);
}
.button2::after {
  height: 0.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #e92c2c;
  border-radius: 100%;
  opacity: 100%;
  filter: blur(5px);
  background-image: linear-gradient(-270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255, 255, 255, 0.00) 100%);
}
.button2:hover {
  background: #e92832;
  cursor: pointer;
  opacity: 100%;
  color: #FFFFFF;
}
.sidebar {
  line-height: 60px;
  background-color: transparent;
  font-size: 20px;
  width: 15%;
  cursor: pointer;
  float: left;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  background-image: url("summer.jpg");
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  a.neontwo {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  div.example {
    display: content;
  }
}
